atomicwrites==1.3.0
attrs==19.1.0
blinker==1.6.2
click==8.1.6
configparser==4.0.2
contextlib2==0.5.5
Flask==2.3.2
funcsigs==1.0.2
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.6
MarkupSafe==2.1.3
more-itertools==5.0.0
packaging==19.1
pathlib2==2.3.4
pluggy==0.13.0
protobuf==3.20.3
py==1.10.0
pyparsing==2.4.2
pytest==5.1.2
pytz==2019.2
scandir==1.10.0
six==1.16.0
wcwidth==0.1.7
Werkzeug==3.0.6
zipp==3.19.1
