<div class="train-dash">
    <div fxLayout="row wrap">
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">

            <mat-form-field appearance="fill">
                <mat-label>Route</mat-label>
                <mat-select (selectionChange)="selectRoute($event)">
                    <mat-option *ngFor="let route of routesData" [value]="route">
                        {{route}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="selectedRoute">
                <mat-label>Station</mat-label>
                <mat-select (selectionChange)="selectStation($event)">
                    <mat-option *ngFor="let station of routeStationsData" [value]="station">
                        {{station.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-expansion-panel *ngIf="selectedRoute && allAlertsByRouteData != undefined">
                <mat-expansion-panel-header>Route Alerts</mat-expansion-panel-header>
                <div *ngFor="let alert of allAlertsByRouteData">
                    <p><b>{{alert['header']}}</b></p>
                    <div [innerHTML]="alert['en-html']"></div>
                    <mat-divider></mat-divider>
                </div>
                <mat-divider></mat-divider>
                <p>Updated: {{allAlertsByRouteDataUpdated | date:'mediumTime'}}</p>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="selectedStation && alertsByStopData != undefined">
                <mat-expansion-panel-header>Station Alerts</mat-expansion-panel-header>
                <div *ngFor="let alert of alertsByStopData">
                    <p><b>{{alert['header']}}</b></p>
                    <div [innerHTML]="alert['en-html']"></div>
                    <mat-divider></mat-divider>
                </div>
                <mat-divider></mat-divider>
                <p>Updated: {{allAlertsByRouteDataUpdated | date:'mediumTime'}}</p>
            </mat-expansion-panel>

            <div *ngIf="selectedStation">
                <div *ngFor="let station of idStationData">
                    <button mat-raised-button (click)="reload()">Refresh</button>
                    <h3>Last Updated: {{ station['last_update'] | date:'mediumTime' }} </h3>
                    <h2>North Bound Trains</h2>
                    <div *ngFor="let time of station['N']">
                        <p *ngIf="time.route == chosenRoute">{{time.time | date:'mediumTime'}}</p>
                    </div>
                    <h2>South Bound Trains</h2>
                    <div *ngFor="let time of station['S']">
                        <p *ngIf="time.route == chosenRoute">{{time.time | date:'mediumTime'}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
            <google-map [center]="center">
                <map-transit-layer></map-transit-layer>
                <map-marker *ngFor="let markerPosition of markerPositions"
                            [position]="markerPosition"
                            [options]="markerOptions"></map-marker>
            </google-map>
        </div>
    </div>
</div>
